name: Integration Tests

on:
  push:
    branches: [ master, grazidev, rosana, Evely, caio, vicc ]
  pull_request:
    branches: [ master ]

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Run tests
        working-directory: ./schedule
        run: mvn -B clean verify -Dspring.profiles.active=test
